* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: arial;
}
body {
  background: rgb(0, 2, 27);
  background: linear-gradient(
    90deg,
    rgba(0, 2, 27, 1) 0%,
    rgba(3, 9, 85, 1) 17%,
    rgba(3, 7, 71, 1) 26%,
    rgba(0, 3, 31, 1) 42%,
    rgba(0, 3, 35, 1) 60%,
    rgba(3, 7, 64, 1) 72%,
    rgba(3, 7, 63, 1) 85%,
    rgba(0, 2, 27, 1) 100%
  );
}
